@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
}


html {
    font-family: 'Open Sans';
    background-color: hsl(217, 28%, 15%);
    font-size: 14px;
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    padding: 20px;
}

button {
    padding: 10px 65px;
    border-radius: 20px;
    color: white;
    border: none;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

button:hover {
    background-image: none;
    background-color: hsl(198, 60%, 50%);
}

.side_menu {
    display: flex;
    align-items: center;
    justify-content: right;
    color: antiquewhite;
}

.side_menu p {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}

.side_menu p:hover {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.intro_img {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 450px;
}


.bg_curvy {
    display: flex;
    justify-content: center;
    position: relative;
    top: 650px;
    width: 1440px;
    z-index: -1;
}

.first_section {
    position: relative;
    bottom: 425px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.card1 {
    width: 700px;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.card1 h1 {
    font-size: 40px;
}

.second_section {
    width: 100%;
    display: block;
    position: relative;
    bottom: 160px;
}

.second_section_row {
    display: flex;
    justify-content: center;
    background-color: hsl(218, 28%, 13%);
}

.card {
    text-align: center;
    color: white;
    width: 400px;
    height: 300px;
    padding-left: 40px;
    padding-right: 40px;
}

.card img {
    height: 85px;
}

.third_section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 160px;
    background-color: hsl(218, 28%, 13%);
}

.third_section img {
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
}

.third_section_text {
    color: white;
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
}

.third_section_last_div {
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: underline;
    color: hsl(198, 60%, 50%);
}

.third_section_last_div img {
    margin: -35px;
    height: 15px;
    width: 15px;
}

.third_section_last_div:hover {
    color: white;

}

.fourth_section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 360px;
    color: white;
    background-color: hsl(218, 28%, 13%);
    padding-top: 100px;
    padding-bottom: 100px;
    height: 700px;
    z-index: -1;
}

.fourth_section_bg {
    position: relative;
    bottom: 110px;
    left: 75px;
    z-index: -2;
}

.review_card {
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    padding: 15px;
    margin: 25px;
    max-width: 300px;
    z-index: 1;
}

.review_card_bottom {
    display: flex;
    align-items: center;
}

.review_card_bottom img {
    margin-top: 5px;
    height: 30px;
    border-radius: 100%;
}

.review_card_bottom_text {
    display: block;
    padding-left: 10px;
}

.review_card_bottom_text h5 {
    margin-bottom: 10px;
}

.review_card_bottom_text p {
    margin-top: -5px;
    font-size: 10px;
}

.fifth_section {
    position: relative;
    bottom: 475px;
    display: flex;
    justify-content: center;
}

.fifth_section_card {
    display: block;
    text-align: center;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    color: white;
    padding-top: 5px;
    padding: 5px 50px 25px 50px;
    width: 650px;
}

.fifth_section_form {
    margin-top: 25px;
    display: flex;
    justify-content: center;

}

.fifth_section_form button {
    margin-left: 20px;
    padding: 10px 20px;
}

.fifth_section_form input {
    width: 70%;
    border-radius: 25px;
}
